# Foundry CLI / Node
node_modules/
.fvtt-cli/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Build artifacts do LevelDB (mantemos a pasta, mas não commitamos os arquivos compilados)
packs/**/*.ldb
packs/**/*.log
packs/**/MANIFEST-*
packs/**/CURRENT
packs/**/LOCK
packs/**/LOG
packs/**/LOG.old
packs/**/*.sst
